{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}

<div class="row"></div>
    <div class="col-8">
        <h4>Your Score: {{ user_score }}</h4>
        <h4>Category: {{ question.category }}</h4>
        <h4>{{ question.question }}?</h4>
        <form method="post">
            {{ answer_form.csrf_token }}
            <div class="form-outline mb-4">
                {{ answer_form.answer(class="form-control") }}
            </div>
            <div class="text-center text-lg-start mt-2 pt-2">
                <button type="submit" class="btn btn-primary btn-med"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit Answer</button>      
            </div>
          </form>
        <h4>Answer: {{ question.correct_answer }}</h4>
    </div>
</div>

{% endblock content %}